<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>欢迎登录</title>
<link rel="stylesheet" type="text/css" href="themes/material/easyui.css"/>
<link rel="stylesheet" type="text/css" href="themes/icon.css"/>
<link rel="stylesheet" type="text/css" href="demo/demo.css"/>
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="jquery.easyui.min.js"></script>

</head>
<body>

<div id="win" class="easyui-window" title="登录" style="width:300px;height:180px;">
	<form style="padding:10px 20px 10px 40px;" action="login" method="post">
		<p>用户名: <input type="text" name="name"/></p>
		<p>密&nbsp;&nbsp;&nbsp;码: <input type="password" name="psw"/></p>
		<div style="padding:5px;text-align:center;">
			<input class="easyui-linkbutton" icon="icon-ok" type="submit" value="登录"></input>
			<input class="easyui-linkbutton" icon="icon-ok" type="reset" value="重置"></input>
		</div>
	</form>
</div>

</body>
</html>